.controlBtn {
  background: white;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 12px;
  text-transform: uppercase;
}

.controlBtn:active {
  opacity: 0.9;
}

.controlBtn:focus {
  filter: brightness(90%);
}

.controlBtn:hover {
  filter: brightness(120%);
}

.controlPanel {
  max-width: calc(100% - 20px);
  position: absolute;
  transform: translate(10px, 10px);
  z-index: 2;
}
