body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .sbdocs {
  max-width: unset;
}

.react-transform-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

body td > pre.prism-code {
  background: transparent !important;
  overflow: auto;
}

.props-table {
  width: 100%;
}

.props-table th {
  text-align: left;
}

.is-object-row td {
  background: #d8e2f5;
  border-top: 2px solid rgb(173 173 173) !important;
}

.react-transform-wrapper {
  max-width: 80vw;
  max-height: 80vh;
}

.handlers-table {
  width: 100%;
}

.handlers-table th {
  text-align: left;
}
