{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "off",
    "react/jsx-uses-vars": ["error"],
    "space-before-blocks": "off",
    "no-unused-vars": ["warn", { "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }],
    "react/prop-types": "warn",
    "radix": "warn",
    "react/require-render-return": "warn",
    "react/display-name": "off"
  },
  "plugins": ["react"],
  "parser": "babel-eslint"
}
